src/mypackage/ExternalInterfaceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example" xmlns:intf="http://example" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="loginName" type="xsd:string"/>
   <element name="password" type="xsd:string"/>
   <element name="loginReturn" type="xsd:string"/>
   <element name="xml" type="xsd:string"/>
   <element name="sendRefundResultReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendRefundResultRequest">

      <wsdl:part element="impl:xml" name="xml"/>

   </wsdl:message>

   <wsdl:message name="sendRefundResultResponse">

      <wsdl:part element="impl:sendRefundResultReturn" name="sendRefundResultReturn"/>

   </wsdl:message>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:loginName" name="loginName"/>

      <wsdl:part element="impl:password" name="password"/>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginReturn" name="loginReturn"/>

   </wsdl:message>

   <wsdl:portType name="ExternalInterfaceWS">

      <wsdl:operation name="login" parameterOrder="loginName password">

         <wsdl:input message="impl:loginRequest" name="loginRequest"/>

         <wsdl:output message="impl:loginResponse" name="loginResponse"/>

      </wsdl:operation>

      <wsdl:operation name="sendRefundResult" parameterOrder="xml">

         <wsdl:input message="impl:sendRefundResultRequest" name="sendRefundResultRequest"/>

         <wsdl:output message="impl:sendRefundResultResponse" name="sendRefundResultResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ExternalInterfaceWSSoapBinding" type="impl:ExternalInterfaceWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sendRefundResult">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendRefundResultRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendRefundResultResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ExternalInterfaceWSService">

      <wsdl:port binding="impl:ExternalInterfaceWSSoapBinding" name="ExternalInterfaceWS">

         <wsdlsoap:address location="http://localhost:8080/SXFSGDUnitInterface/services/ExternalInterfaceWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
